* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 224, 224);
}

.wrapper {
  text-align: center;
  border: 2px solid purple;
  margin: 2rem;
  height: auto;
  width: 400px;
}

.header {
  color: rgb(156, 58, 18);
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0.5rem 0;
}

.country-details input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  letter-spacing: 0.5px;
  box-shadow: 0 5px 30px rgba(90, 40, 119, 0.4);
}

.btn {
  margin-bottom: 0.5rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 50px;
  color: white;
  background-color: rgb(180, 82, 37);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(104, 42, 13);
}

.loading {
  color: rgb(27, 25, 25);
  font-size: 1rem;
  margin: 0.4rem 0;
}

.result-container {
  border: 1px solid rgb(110, 20, 110);
  margin: 1rem;
  padding: 1rem 0;
}

center {
  margin: 1rem 0;
  color: rgb(36, 30, 83);
  font-size: 1.2rem;
  font-weight: bolder;
}
